<h2>What's custom routing?</h2>
<p>Hyper VPN supports custom rules to bypass, block, or proxy connections.</p>
<p>&nbsp;</p>
<p><strong>bypass:</strong> the request will be sent directly to the destination</p>
<p><strong>block</strong>: VPN service will block requests and didn't send them to the destination
</p>
<p><strong>proxy</strong>: the request will be sent to the destination by using the VPN connection
</p>
<p>&nbsp;</p>
<p><strong>* Note:</strong> By default, all requests transferred by VPN service</p>
<p>&nbsp;</p>
<h2>How did rules work?</h2>
<p>Rule syntax is very simple and contains matcher and target (write as matcher:target)</p>
<p>Hyper VPN currently supports four matcher; ip, domain, suffix, keyword, geoip and site</p>
<p>&nbsp;</p>
<h3>ip</h3>
<p>ip match IPv4 or IPv6 or IP-CIDR</p>
<p>for example "ip:192.168.1.0/16" rule match IPs from 192.168.0.1 to 192.168.255.254</p>
<p>or "ip:192.168.1.1"&nbsp;rule match only 192.168.1.1 IP address</p>
<p>&nbsp;</p>
<h3>domain</h3>
<p>domain match the exact domain name</p>
<p>for example "domain:www.example.com" rule only matches <a href="http://www.example.com">www.example.com</a>
</p>
<p>&nbsp;</p>
<h3>suffix</h3>
<p>suffix match the domain plus all sub-domains</p>
<p>for example "suffix:example.com" rule matches example.com and *.example.com</p>
<p>&nbsp;</p>
<h3>keyword</h3>
<p>keyword match all domains which contain the keyword</p>
<p>for example "keyword:example"&nbsp;rule matches *example*</p>
<p>&nbsp;</p>
<h3>geoip</h3>
<p>we use maxmind.com free geoip database which is located <a
        href="https://github.com/Dreamacro/maxmind-geoip">here</a>, so most countries are supported
</p>
<p>for example "geoip:cn" rule matches all possible china IP addresses</p>
<p>&nbsp;</p>
<h3>site</h3>
<p>we use the v2fly domain list for this. you can see all categories and countries <a
        href="https://github.com/v2fly/domain-list-community/tree/master/data">here</a></p>
<p>for example "site:category-porn" rule matches all possible porn! sites&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Notes:</strong></p>
<p>all matchers are case sensitive</p>
<p>* mean every character</p>